@import "tailwindcss";

@layer utilities {
  /* Rename this to match the code in Login.jsx */
  .animate-spin-slow {
    animation: border-spin 4s linear infinite;
  }
}

@keyframes border-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}